@import '../../colors.css';



.resumeButton {
    border-radius: 20px;
    width: 100%;
    background-color: transparent;
    border: 3px solid var(--silver);
    color: var(--silver);
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    font-size: 18px;
}

.sectionOne {
    height: 70vh;
    text-align: center;
    color: var(--silver);
    line-height: .9;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0px 5% ;
    background: rgb(2,35,68);
background: linear-gradient(180deg, rgba(2,35,68,1) 28%, rgba(33,34,34,1) 91%);

}



