body {
  font-family: Poppins,sans-serif;
}


/* Default font sizes */
h1 {
  font-size: 32px;
}




/* Media queries for different screen sizes */
@media (max-width: 320px) {
  h1 {
    font-size: 44px;
  }
 
}

@media (min-width: 321px) and (max-width: 768px) {
  h1 {
    font-size: 44px;
  }



}

/* Add more media queries for larger screen sizes if needed */
@media (min-width: 769px) {
  /* Default font sizes for desktop */
  h1 {
    font-size: 48px;
  }
  

}

/* Media queries for larger screen sizes */
@media (min-width: 1024px) and (max-width: 1280px) {
  h1 {
    font-size: 64px;
  }
}

@media (min-width: 1281px) {
  h1 {
    font-size: 70px;
  }
}
